### environment variable ###
.env

### build ###
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Rest Docs #
/src/main/resources/static/docs
/src/docs/**

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Don't Need ###
.DS_Store
**/.DS_Store
/.gradle/
